<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667774009270-t3r4uf4bigc8tmfjfrdviv7dpvtfic7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667774009270-t3r4uf4bigc8tmfjfrdviv7dpvtfic7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCz9n92z43Zl52hDDqkKxdKuAlA_aQ-880</string>
	<key>GCM_SENDER_ID</key>
	<string>667774009270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bhushan.Notes</string>
	<key>PROJECT_ID</key>
	<string>notes-db18b</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-db18b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667774009270:ios:b354b53e2973899ac94b17</string>
</dict>
</plist>